@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #e68a00;
  --blue1: #373bb2;
  --blue2: #3e43c8;
  --primary: #021737;
  --font-clash-display-variable: "--font-clash-display-variable";
  --font-clash-display-regular: "--font-clash-display-regular";
  --font-clash-display-semi-bold: "--font-clash-display-semi-bold";
  --font-clash-display-medium: "--font-clash-display-medium";
  --font-clash-display-bold: "--font-clash-display-bold";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sectionClasses {
  @apply pt-32 px-4 max-w-[1200px] mx-auto flex flex-col items-center justify-center;
}

.sectionPaddings {
  @apply py-16 px-4;
}

.cardDescriptionClasses {
  @apply flex items-center gap-1;
}
